
*.pyc
back_end/.idea/vcs.xml
back_end/.idea/modules.xml
back_end/.idea/misc.xml
back_end/.idea/inspectionProfiles/Project_Default.xml
back_end/.idea/inspectionProfiles/profiles_settings.xml
back_end/.idea/back_end.iml
back_end/.idea/aws.xml
frontend/my-app/package-lock.json
workers/.idea/workers.iml
workers/.idea/vcs.xml
workers/.idea/modules.xml
workers/.idea/misc.xml
workers/.idea/inspectionProfiles/Project_Default.xml
workers/.idea/inspectionProfiles/profiles_settings.xml
workers/.idea/aws.xml
workers.zip
run.sh
pythonProject/
*/.idea/*
